.child1 {
  padding-top: 15px;
  margin: auto;
  outline: auto;
  width: 800px;
  display: flex;
  flex-direction: column;
}

.radio {
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dropdown {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.graphContainer {
  outline: auto;
  width: 700px;
  margin: auto;
}
