.child1 {
  padding-top: 15px;
  margin: auto;
  width: 800px;
  display: flex;
  flex-direction: column;
}

.radio {
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dropdown {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.graphContainer {
  width: 500px;
}

.tooltip {
  padding: 4px;
  background-color: black;
  color: white;
  opacity: 70%;
  white-space: pre-wrap;
}

.graph {
  display: flex;
  justify-content: center;
}

.box {
  width: 30px;
  height: 30px;
}

.legend {
  display: flex;
  flex-direction: column;
}

.legendOpen {
  display: flex;
  align-items: center;
  
}

.legendClose {
  display: flex;
  align-items: center;
}
